* { 
    margin: 0; 
    padding: 0; 
    outline:0;   
}

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Verdana,Genica,sans-serif;
    color: white;
    width:1300px;
    margin:0 auto;
    background-image: url(../images/background/memphis-mini-dark.png)
}

a:link, a:active, a:visited { 
    text-decoration: none;
} 

.portal{
    background-image: linear-gradient(black,#131920);
}

.clearfix:after { 
    content: "."; 
    visibility: hidden;
    display: block; 
    height: 0; 
    clear: both;
}

#logo { float: left;}

#header-top {
    margin-left: 40px; 
    margin-right: 20px
}

#header-top-right{
    float:right;
    margin-top: 42px;

}

#cart{
    float: right;
    margin-top: -7px;
    font-size: 40px;
    margin-right: 7px;
}

#cart_count{
    font-size:20px;
    margin-left: -3px;
}

#login{
    float: left; 
    margin-right: 22px;
    margin-top: 15px;
}

.label-login{
    color: #ccc;
    font-size: 11px; 
    font-weight: bold;
}

#userinfo{
    float: left; 
    margin-right: 22px;
    display: inline-flex;
}

.userbutton{
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline;
    margin-left: 10px;
    padding: 7px;
    font-size: 15px;
    cursor: pointer;

    color: #fff;
    border-radius: 12px;
    background-color: #690101;
    /*border: 0.5px white outset;*/
    border-width: 1px;

}

.userbutton span {
    margin-left: 8px;
}

nav {
    border:1px solid activecaption;
    padding:9px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}


.pageTitle{
    margin: 31px;
    text-align: center;
    display: inline-block;

}


#genre_list li {
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    margin: 16px;
    background: whitesmoke;
    font-weight: bold;
}



#genre_list li:hover{
    background: linear-gradient(#a91c11, #ec2414);
}

#genre_list  a {
    color:black;
    text-decoration: none;
}

#genre_list a:hover{
    text-decoration: none;
    color:white;
}

.box {
    width: 900px;
    float: right; 
    margin: 20px;
    border: 1px activecaption solid;
    padding-bottom:21px; 
    border-radius: 0px; 
}

.box-genre{
    float: left; 
    border: 1px activecaption solid;
    min-width:320px; 
    margin-top: 20px; 
    margin-left: 21px ; 
    border-radius: 0px;
}

.head {  
    padding-top:13px; 
    padding-bottom:11px; 
    border-bottom: 1px activecaption solid;
    padding-left: 10px;
    margin: 1px; 
    box-sizing: border-box;
    height: 41px;
    background-image: url(../images/background/tab/redtab.png);
    background-repeat: repeat-x;
}

.box .head h2 { float:left; display:inline; }
.box .head h3, .box-genre h3 { float:left; display:inline; }

.icon{
    cursor: pointer; 
    color: white; 
    background-color: transparent; 
    border-color: transparent;

}

.gotoCatalogButton{
    clear: left;
    display: block;
}

a { color: #fff; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; color: red }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.text-right { text-align:right; }

h2 { font-size:12px; color:#e80000; font-weight:bold; }
h3 { font-size:16px; color:white; font-weight:bold; }
h4 { font-size:18px; color:#e80000; font-weight:bold; }

#shell { width:980px; margin:0 auto; }



li {font-size: 17px}

#navigation { float:right; clear:right; padding-top:28px; padding-bottom:47px; }
#navigation ul { list-style:none; }
#navigation ul li { float:left; display:inline; padding-left:29px;  }
#navigation ul li a { font-size:14px; font-weight:bold; color:#fff; text-decoration:none; }
#navigation ul li a.active
#navigation ul li a:hover { color:red; }

.login_Botton {border: 2px #690101;
               margin-left: 5px;
               margin-right: 0px;
               color: #fff;
               border-radius: 15px;
               background-color: #690101;
               font-size: 15px;
               text-decoration: none;
               margin-top: 2px;
               cursor: pointer;
               padding: 6px;
               border: 1px white outset;
}

.login_Botton:hover { text-decoration: none; color: red ; }
#sub-navigation { display:block; clear:right; }
#sub-navigation ul { list-style:none; }
#sub-navigation ul li { float:left; display:inline; }
#sub-navigation ul li a { font-size: 14px; font-weight: bold; color: #fff; line-height: 20px; text-decoration: none; padding-right: 28px; padding-left: 27px; padding-top: 10px; padding-bottom: 10px; }
#sub-navigation ul li a:hover { font-size: 17px; font-style: initial; text-decoration:none ; color: red; }


#search { width:433px; margin:0 -47px 0 auto; }
#search label { float:left; display:inline; font-size:12px; font-weight:bold; color:#fff; line-height:20px; padding-right:6px;font-size: 11px; font-weight: bold;}
#search .search-field {
    width: 212px;
    border: 1px solid #000000;
    /* border-radius: 4px; */
    color: #787878;
    padding: 2px 0 2px 2px;
    height: 16px;
    border-left: 0px;
}
#search .search-button { font-size:14px; font-weight:bold; border:0; background:none; color:#fff; cursor:pointer; }
#search .search-button:hover { color: #fff ; background: white}

.box .movie { width:152px; float:left; padding-right:25px; margin: 20px 20px 20px 20px }
.movie-image { float:left; width:152px; height:214px; position:relative; }
.movie-image img { width:152px; height:214px; }
.movie-image a { float: left; display: inline; width:152px; height:214px; position: relative; z-index: 2; margin-top: 10px;}
.play { position: absolute; top: 0; left: 0; width:152px; height:214px; display:block; z-index: 0; cursor:pointer; }
.movie span.name { font-weight:bold; color:dodgerblue; font-size:12px; text-align:center; padding-top:160px; display:block; margin-top: 73px; }

.box .last { padding:0; }

.rating { float:left; width:152px; padding-top:15px; }
.rating p { float:left; font-size:11px; color:#fff; font-weight:bold; margin-top: auto;}
.rating .stars { float:left; width:0px; height:11px; margin-left:2px;}
.rating .stars-in { width:48px; display:inline; position:absolute; height:11px; font-size: 0; line-height: 0; text-indent: -4000px;}
.comments { float:right; color: greenyellow; font-weight: bolder ; font-size: 13px }

.content { padding-bottom:28px; }
.content .date { font-size:10px; color:#fff; }
.content img { float:left; width:68px; padding-right:8px; }
.content p { font-size:13px; color:#fff; line-height:16px; }
.content a { font-size:11px;  }

#footer { padding:15px 0 0 0; clear: both; }
#footer p { text-align:center; font-size:10px; padding-bottom:11px; }
#footer a { color:#9c9c9c; font-size:10px; }
#footer a:hover { color:#e80000; text-decoration:none; }

#footer a:hover.designby { color:#9c9c9c; text-decoration:none; }


#login form input[type="text"], #login form input[type="password"] {

    height: 18px;
    width: 125px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 11px;
    font-weight: bold;


}

.click:hover{
    color: red;

}

.movie-image-aside{

    margin-bottom: 10px; 

}

.popup {
    display: none;
    margin: 70px auto;
    padding: 26px 35px 35px 35px;
    background: #fff;
    border-radius: 5px;
    width: 400px;
    position: fixed;
    z-index: 10;
    left: 34%;
}

.popup h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #333;
    font-size: 21px;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: red;
}
#popupMessage .contentPopup {
    font-size: 18px;
    color: black;
}

#completedMessageDiv {
    margin: 20px;
}

#completedMessage {
    font-size: 30px;
    color: black;
}

